<!-- A view that shows you all the ingredients in a recipe. -->
<div class="container-fluid">
  <h1> Your Recipe:</h1>
  <h2> <%= @recipe.name %> <span style="font-weight:normal">has</span></h2>
  <div class="container-fluid span12 ">
    <div class="well span4">
      <% @recipe.ingredients.each do |ingredient| %>
      <h4><%= ingredient.name %><h4>
      <% end %>
    </div>
  </div>
<div class="span5">
    <%= link_to 'Back to RecipeBook', recipes_path %>
</div>
</div>

